*.pyc
*~
tempdata/*
projects/*
profiles/*
share/pineboo/modulos/*
share/pineboo/scripts/*.qs.xml
share/pineboo/scripts/*.qs.py.debug
share/pineboo/scripts/*.py.src
.project
.pydevproject
.settings/
src/*
builds/*
sysroots/*
deploy/*
__pycache__
test.qs.py
test.qs.py.debug
test.qs.xml
monkeytype.sqlite3
.pytype/*
pineboolib/application/parsers/qsaparser/lextab.py
.mypy_cache
build/
dist/
pineboo.egg-info/
.coverage
docs/source/_static/linters/pytest-coverage
docs/source/_static/linters/mypy
docs/source/_static/linters/bandit
docs/source/linters/pylint/static
docs/index_template.rst
docs/source/code/pineboolib
docs/source/code/old.pineboolib
mypy_report
venv
