black
flake8
fpdf
mccabe
mypy
mypy-extensions
ninja
pg8000
ply
pycodestyle
pycrypto
pyflakes
Pygments
pylint
pyPdf
PyQt5
PyQt5-sip
PyQt5-stubs
pytest
pytest-forked
pytest-xdist
python-barcode
python-dateutil
pytz
pyxdg
PyYAML
reportlab
retype
sip
six
SQLAlchemy
sqlparse
typed-ast
typing-extensions
xmljson
xmltodict
sphinx
sphinx-autodoc-typehints
pydocstyle
sphinx-rtd-theme
pyroma
dlint
defusedxml
bandit
coverage
