black
flake8
fpdf
mccabe
mypy
mypy-extensions
ninja
pg8000
ply
pylint
PyQt5
PyQt5-sip
PyQt5-stubs
pytest
python-barcode
python-dateutil
pytz
PyYAML
reportlab
SQLAlchemy
sqlparse
sphinx
sphinx-autodoc-typehints
pydocstyle
sphinx-rtd-theme
pyroma
defusedxml
bandit
coverage
pylint-json2html
pytest-cov
json-rpc
werkzeug
odfpy
wheel
